@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes textAnimationUpwards {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes textAnimationDownwards {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.upwardAnimation {
  animation: textAnimationUpwards .5s ease-in-out forwards;
}

.downwardAnimation-1 {
  animation: textAnimationDownwards .5s ease-in-out forwards;
  animation-delay: .5s;
}
